.App {
  text-align: center;
}

.itemContainer{
  display: flex;
  background-color:rgb(154, 228, 227);
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 20px;
}

.LeagueItem{
  background-color: rgba(255, 255, 255, 0.692);
  width: 40vh;
  border-style: solid;
  margin-bottom: 10px;
  border-radius: 4px;
  
}

.LeagueItem img{
  width: 5vh;
  float: left;
}



